*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: white ;
    color: black;
    background-color: #f2ecfacc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f71f15' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-size: 20px;
font-family: 'Oswald', sans-serif;
}
a{

    color: black;
    text-decoration: brown;
}
h1{

    color: black ;
    text-decoration: yellow;
    font-family: 'Oswald', sans-serif;
    border-radius: 30%;
    border-color: orangered;
    margin-right: auto;
    text-align: center;

    
}
h2{
    color:white ;
    text-decoration: yellow;
    font-family: 'Oswald', sans-serif;
}
p{
    color:white ;
    text-decoration: yellow;
    font-family: 'Oswald', sans-serif;
}
p1{
    color:black;
    text-decoration: black;
}

ul{
    list-style: none;

}
.container{

width: 90%;
margin: auto;
height: 200px;

}

.nav-main{

    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 40px 0;
}
.nav-brand{
width: 150px;
height: 100px;
padding: 15px 0px;

}
/*ptron*/
.nav-main ul  {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a{
 padding: 2px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
   }
.nav-main ul.nav-menu{

    flex:1;
    margin-left: 20px;
}
.showcase{
    width: 100%;
    background:orange;
    
}
.showcaseimg{
    background:url("./img//showcase1.jpg");
}
.btn{
    cursor: pointer;
    display:inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color:white;
    font-size: 15px;
    border: 1px solid white;
}
.btn:hover{
    opacity: .7;
}
/*newcard*/

.new-cartas{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 25px;

    
}
.new-cartas img{
    width: 60%;
    height: 180px;
}

